.content {
  position: relative;
  height: 100vh;
  color: var(--black);
  font-size: 0;

  &_hero {
    background-color: var(--black);
  }
  &_company {
    background: url(../img/bg_company.jpg) no-repeat center / cover;
  }
  &_business {
    background-color: var(--white);
    .inner {
      .area_description {
        color: var(--black);
        .description_sub {
          color: var(--gray);
        }
      }
    }
  }
  &_recruit {
    height: 864px;
    background: url(../img/bg_recuit_main.jpg) no-repeat center / cover;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &_horizontal {
      flex-direction: row;
      align-items: center;
    }
  }
  .title {
    color: var(--skyblue);
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1;
  }
  .description {
    margin-top: 50px;
    color: var(--black);
    font-size: 1.5rem;
  }
  .area_description {
    margin-top: 10px;
    color: var(--white);

    .title_sub {
      font-size: 2rem;
      font-weight: 900;
      line-height: 1;
    }
    .description_sub {
      margin-top: 30px;
      color: var(--white-op80);
      font-size: 1.5rem;
      line-height: 1.4;
    }
  }
  .area_left {
    width: 385px;
    margin-right: 30px;

    .title {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: normal;
    }
    .description {
      margin-top: 20px;
      color: var(--white);
      font-size: 2.5rem;
      font-weight: 900;
    }
  }
  .area_right {
    width: 570px;
  }
  .card_list {
    display: flex;
    height: 450px;
    margin-top: 60px;
    
    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 25%;
      height: 100%;
      border-left: 1px solid var(--white-op80);
      transition: background-color 0.3s;

      &:last-child {
        border-right: 1px solid var(--white-op80);
      }
      &:hover {
        background-color: var(--skyblue);

        .box_plus {
          transform: rotate(45deg);
          background-color: var(--white-op30);

          &::before {
            transform: rotate(45deg);
          }
        }
      }

      > a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 70px 20px;
      }
    }
    .card_title {
      color: var(--white);
      font-size: 2.25rem;
      font-weight: 700;
      text-align: center;
    }
  }
  .card_list-view {
    display: flex;
    height: 360px;
    margin-top: 60px;
    
    > li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 25%;
      height: 100%;
      padding: 60px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      border: 1px solid var(--gray-light);
      text-align: center;
      z-index: 1;
      transition: background-size 0.3s;

      &:not(:first-child) {
        border-left: none;

        &::before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.45);
          z-index: -1;
          content: '';
        }
      }
      &:nth-child(1) {
        background-image: url(../img/img_main_business_1.jpg);
      }
      &:nth-child(2) {
        margin-top: 90px;
        background-image: url(../img/img_main_business_2.png);
      }
      &:nth-child(3) {
        background-image: url(../img/img_main_business_3.png);
      }
      &:nth-child(4) {
        margin-top: 90px;
        background-image: url(../img/img_main_business_4.png);
      }
      &:hover {
        background-size: 120%;
      }
    }
    .card_title {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 900;
    }
    .card_descrition {
      margin-top: 20px;
      color: var(--white-op80);
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }
  .list_link {
    display: flex;
    
    > li {
      width: 50%;
      padding: 80px 30px;
      color: var(--white);
      border-left: 1px solid var(--white-op80);
    }
    .link_title {
      margin-top: 20px;
      color: var(--white);
      font-size: 1.75rem;
      font-weight: 700;
      line-height: 2.3rem;
    }
    .link_description {
      margin-top: 20px;
      color: var(--white-op80);
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.hero {
  &_content {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

    &-first {
      background-image: url(../img/bg_hero_1.jpg);
    }
    &-second {
      background-image: url(../img/bg_hero_2.jpg);
    }
    &-third {
      background-image: url(../img/bg_hero_3.jpg);
    }
  }

  .wrap_title {
    position: relative;
    width: 734px;
    margin: 0 auto;
    color: var(--white);

    &::before {
      opacity: 0;
      display: block;
      position: absolute;
      top: 0;
      left: -54px;
      width: 4px;
      height: 100%;
      background-color: var(--skyblue);
      transform: translateY(20px);
      content: "";
      transition: opacity 1s ease-in-out 0.6s, transform 1s ease-in-out 0.6s;
    }

    .title {
      opacity: 0;
      color: var(--white);
      transform: translateY(30px);
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
    .description {
      opacity: 0;
      margin-top: 15px;
      color: var(--white-op80);
      font-size: 1.5rem;
      transform: translateY(30px);
      transition: opacity 1s ease-in-out 0.3s, transform 1s ease-in-out 0.3s;
    }
  }

  .swiper-slide-active {
    .wrap_title {
      &::before {
        opacity: 1;
        transform: translateY(0);
      }

      .title {
        opacity: 1;
        transform: translateY(0);
      }
      .description {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  // Swiper Progressbar Custom
  .control {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    z-index: 20;

    .swiper-pagination {
      display: flex;
      justify-content: space-between;
      text-align: left;
      
      .number-page {
        position: absolute;
        top: 0;
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        transform: translateY(-40%);

        &.current {
          left: -40px;
        }
        &.total {
          right: -40px;
        }
      }
    } 
    .swiper-button-next,
    .swiper-button-prev {
      width: 32px;
      height: 32px;
      background-image: url(../img/icon_arrow_slider.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }
    .swiper-button-next {
      transform: rotateY(180deg);
    }
  }
  .box_progress {
    position: relative;
  }
  .autoplay-progress {
    width: 200px;
    height: 4px;
    background-color: var(--white-op20);
  }
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    stroke-width: 4px;
    stroke: #fff;
    fill: none;
    stroke-dashoffset: calc(100 * (1 - var(--progress)));
    stroke-dasharray: 100;
  }
  .box_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
  }
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1139px) */
@media screen and (min-width:768px) and (max-width:1139px) {
  .content {
    height: auto;

    .inner {
      &_horizontal {
        flex-direction: column;
        align-items: center;
      }
    }
    .title {
      font-size: 3rem;
    }
    .description {
      margin-top: 40px;
      font-size: 1.25rem;
    }
    .wrap_title {
      width: 56%;

      &::before {
        left: -40px;
      }
      .description {
        font-size: 1.25rem;
      }
    }
    .inner {
      max-width: initial;
      height: auto;
      padding: 120px 99px;
    }
    .card_list {
      flex-wrap: wrap;
      height: auto;
      > li {
        width: 50%;
        height: auto;
        border-left: none;
        &:last-child {
          border-right: none;
        }
        &:nth-child(even) {
          border-left: 1px solid var(--white-op80);
        }
        &:nth-child(n+3) {
          border-top: 1px solid var(--white-op80);
        }
        > a {
          height: 330px;
          padding: 50px;
        }
      }
      .card_title {
        font-size: 2rem;
      }
    }
    .card_list-view {
      flex-wrap: wrap;
      margin-top: 40px;
      height: auto;
      > li {
        width: 50%;
        height: 350px;
        padding: 40px 20px;
        &:not(:first-child) {
          border-left: 1px solid var(--gray-light);
        }
        &:nth-child(even) {
          border-left: none;
        }
        &:nth-child(n+3) {
          border-top: none;
        }
        &:nth-child(3) {
          margin-top: -90px;
        }
        &:last-child {
          margin-top: 0;
        }
      }
    }
    .area_left {
      width: 100%;
      margin-right: 0;
      .description {
        font-size: 2.63rem;
      }
    }
    .area_right {
      width: 100%;
      margin-top: 50px;
    }
    .list_link {
      > li {
        padding: 40px 30px;
        &:last-child {
          border-right: 1px solid var(--white-op80);
        }
      }
    }
  }
}

/* 모바일 가로, 모바일 세로 (해상도 767px 이하) */ 
@media screen and (max-width:767px) {
  .content {
    height: auto;

    .inner {
      &_horizontal {
        flex-direction: column;
        align-items: center;
      }
    }
    .title {
      font-size: 2rem;
    }
    .description {
      margin-top: 15px;
      font-size: 0.88rem;
    }
    .wrap_title {
      width: calc(100% - 60px);

      &::before {
        display: none;
      }
      .description {
        position: relative;
        margin-top: 40px;
        font-size: 1rem;

        &::before {
          position: absolute;
          display: block;
          top: -20px;
          left: 0;
          width: 50%;
          height: 4px;
          background-color: var(--skyblue);
          content: "";
        }
      }
    }
    .inner {
      max-width: initial;
      height: auto;
      padding: 80px 20px;
    }
    .card_list {
      flex-wrap: wrap;
      height: auto;
      margin-top: 40px;
      > li {
        width: 50%;
        height: auto;
        border-left: none;
        &:last-child {
          border-right: none;
        }
        &:nth-child(even) {
          border-left: 1px solid var(--white-op80);
        }
        &:nth-child(n+3) {
          border-top: 1px solid var(--white-op80);
        }
        > a {
          height: 220px;
          padding: 30px;
        }
      }
      .card_title {
        font-size: 1.25rem;
      }
    }
    .card_list-view {
      flex-direction: column;
      margin-top: 30px;
      height: auto;
      > li {
        width: 100%;
        height: 245px;
        padding: 30px 60px;
        &:not(:first-child) {
          border-top: none;
          border-left: 1px solid var(--gray-light);
        }
        &:nth-child(2) {
          margin-top: 0;
        }
        &:nth-child(3) {
          margin-top: 0;
        }
        &:last-child {
          margin-top: 0;
        }
      }
      .card_title {
        font-size: 1rem;
      }
      .card_descrition {
        font-size: 0.88rem;
      }
    }
    .area_description {
      margin-top: 5px;
      .title_sub {
        font-size: 1.25rem;
      }
      .description_sub {
        margin-left: 0;
        margin-top: 15px;
        font-size: 0.88rem;
      }
    }
    .area_left {
      width: 100%;
      margin-right: 0;
      .title {
        font-size: 1.13rem;
      }
      .description {
        font-size: 1.5rem;
      }
    }
    .area_right {
      width: 100%;
      margin-top: 10px;
    }
    .list_link {
      flex-direction: column;
      > li {
        display: flex;
        gap: 20px;
        width: 100%;
        padding: 30px 20px;
        border: none;
        border-bottom: 1px solid var(--white-op80);
      }
      .icon {
        flex: 0 0 40px;
      }
      .link_title {
        margin-top: 0;
        font-size: 1.25rem;
      }
      .link_description {
        margin-top: 0;
        font-size: 0.88rem;
        line-height: 1.25rem;
      }
      .box_items {
        flex: 1;
      }
    }
  }

  .hero {
    .control {
      bottom: 150px;
      transform: translateX(-40%);
      .swiper-pagination {
        .number-page {
          font-size: 0.88rem;
          &.current {
            left: -30px;
          }
          &.total {
            right: -30px;
          }
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        width: 24px;
        height: 24px;
      }
    }
    .autoplay-progress {
      width: 100px;
      height: 2px;
    }
    .box_arrow {
      margin-left: 35px;
      gap: 5px;
    }
  }
}